---
layout: layout.njk
title: Bayes Beta Simulation
permalink: index.html
---
<h1>Inferring the bias of a coin with Bayes' / beta distribution </h1>
<p>See the updates of the posterior distribution after each of in total 150 coin flips.
   Start by chosing a bias, then press start.</p>

<span>bias (between 0 and 1): </span><input type="text" id="bias" value="0.5">
<input type="submit" value="start" onclick="myLoop(1)">

<br><br><br>

<script src="/assets/scripts.js"></script>

<p id="info">hover tosses to see distr after animation</p>
<p id="info2">hover tosses to see distr after animation</p>
